@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.04em;
}

.background {
  background: linear-gradient(to bottom, #2fa5ed, #b5d3f9, #ebeefb);
  background-color: #ebeefb;
  width: 100%;
  padding: 15px;
}

/* Left Section */
.background .left-section {
  display: inline-block;
  width: 480px;
  height: 100%;
  border-radius: 4px;
  border: 2px solid #fff;
  margin: 0 0 500px 0;
  overflow-y: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 15px;
}

/* Right Section */
.background .right-section {
  display: inline-block;
  width: 770px;
  height: 592px;
  border-radius: 4px;
  border: 2px solid #fff;
  margin: 0 0 0 60px;
  overflow-y: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 15px;
  margin-bottom: 270px;
}

.unit-section {
  display: flex;
  justify-content: space-evenly;
}

.save-as-favorite {
  position: relative;
  bottom: 285px;
  right: 15px;
}

.save-as-favorite-txt {
  position: relative;
  display: inline-block;
  bottom: 6px;
  left: 5px;
}

/*Media query on right section.*/
@media (max-width: 768px) {
  .background .right-section {
    width: 100%;
  }
}

.anytime-weather {
  font-size: 28px;
  margin-top: 10px;
}

.enter-city-below {
  font-size: 22px;
  text-decoration: underline;
  margin-top: 35px
}

/* City search form. */
.left-section input {
  font-size: 13px;
  background-color: #fff;
  display: inline-block;
  border: none;
  margin-top: 5px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.city-input-field {
  padding: 10px 130px 10px 10px;
}

.left-section form label {
  height: 100%;
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2fa5ed;
}

.label {
  font-size: 24px;
}

.left-section form button {
  display: inline-block;
  padding: 10px 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: none;
  outline: none;
  background-color: #fff;
  color: #2fa5ed;
  width: 75px;
  cursor: pointer;
}

select {
  padding: 9px;
  border: none;
  background-color: white;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.select-from-favorites {
  font-size: 22px;
  margin: 40px 0 5px;
  text-decoration: underline;
}

.right-section .current-weather-details-box {
  width: 100%;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 4px;
  padding: 15px;
}

.unit-choices {
  display: flex;
  justify-content: start;
  margin-top: 50px;
}

.unit-choices p {
  font-size: 26px;
  margin: 0 40px 0 5px;
}

input[type=checkbox] {
  height: 24px;
  width: 24px;
  cursor: pointer;
}

input[type=radio] {
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.details-box-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details-box-header h4 {
  color: #a09aa0;
}

.details-box-header .switch {
  width: 80px;
  height: 32px;
  background-color: #2fa5ed;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 4px;
  border-radius: 4px;
  position: relative;
}

.switch .switch-toggle {
  width: 50%;
  height: 100%;
  background-color: #fff;
  border-radius: 4px;
  transition: all 0.3s;
}

.switch span {
  position: absolute;
  top: 7px;
  color: #fff;
}

.switch span.c {
  left: 8px;
}

.switch span.f {
  right: 8px;
}

.switch-toggle.c {
  transform: translateX(0);
}

.switch-toggle.f {
  transform: translateX(100%);
}

.loader {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.error-msg {
  width: 100%;
  background-color: #f8d7da;
  font-size: 12px;
  color: #721c24;
  border-color: #f5c6cb;
  padding: 0.75rem 1.25rem;
  margin-top: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

/* Weather details container. */
.current-weather-details-box .weather-details-container {
  width: 100%;
  margin-top: 15px;
  padding: 15px;
  display: flex;
}

.metrices {
  margin-top: 45px;
}

.weather-details-container .details,
.weather-details-container .metrices {
  flex: 1;
}

.weather-details-container .metrices {
  padding-left: 15px;
}

@media (max-width: 768px) {
  .current-weather-details-box .weather-details-container {
    flex-direction: column;
  }

  .weather-details-container .details,
  .weather-details-container .metrices {
    width: 100%;
  }

  .weather-details-container .details {
    border-right: none;
    border-bottom: 1px solid #a09aa0;
    padding-bottom: 15px;
  }

  .weather-details-container .metrices {
    padding-left: 0;
    padding-top: 15px;
  }
}

/* Details children */
.weather-details-container .details .city-name {
  color: #16d523;
  font-size: 24px;
}

.weather-details-container .details .icon-and-temp {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.icon-and-temp h1 {
  color: #2FA5ED;
  font-size: 40px;
}

.icon-and-temp img {
  height: 160px;
}

.weather-details-container .details .description {
  color: #a09aa0;
}

/* Metrices children */
.weather-details-container .metrices h4 {
  color: #2FA5ED;
  margin-left: 4px;
  margin-bottom: 25px;
}

/* Key value box */
.weather-details-container .metrices .key-value-box {
  width: 100%;
  display: flex;
  margin-top: 15px;
}

.key-value-box .key,
.key-value-box .value {
  flex: 1;
}

.key .icon {
  color: #a09aa0;
}

.key .value {
  color: #2FA5ED;
}

.key span {
  color: #a09aa0;
  margin-left: 15px;
}

.value span {
  color: #2FA5ED;
}

.extended-forecast-heading {
  color: #474547;
  margin-top: 25px;
  font-size: 20px;
}

.extended-forecasts-container {
  margin-top: 15px;
  display: flex;
}

.extended-forecasts-container .forecast-box {
  width: calc(20% - 10px);
  height: 120px;
  border-radius: 4px;
  background-color: #2fa5ed;
  color: #fff;
  margin-right: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media(max-width: 768px) {
  .extended-forecasts-container {
    flex-direction: column;
  }

  .extended-forecasts-container .forecast-box {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.forecast-box .min-max-temp {
  margin-top: 5px;
  font-weight: 500;
}